.room-list {
    background-color: lightblue;
    width: 150px;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 100%;
}

.page-title {
    padding-left: 10px;
}

.list-title {
    padding-left: 15px;
}
