<section class="left-menu">
    <div class="room-list">
        <h2 class="page-title"> Bloc Chat </h2>
        <button class="button" type="button" ng-click="home.newRoomButton()">New Room</button>
        <h2 class="list-title">Rooms</h2>
        <ul>
            <li ng-repeat="room in home.rooms">
                <a class="room-name" ng-click="home.setCurrentRoom(room)">{{ room.$value }}</a>
            </li>
        </ul>
    </div>
</section>

<section class="message-container">
    <div class="room-title">
        <!-- Room header/Room Name -->
        <h2>{{ home.currentRoom.$value }}</h2>
    </div>

    <div class="message-line" ng-repeat="message in home.messages">
        <!-- Message -->
        <div class="username">{{ message.username }}:  {{ message.content }}</div>
        <div class="timestamp">{{ message.sentAt }}</div>

    </div>

</section>
